[submodule "Aura/vendor/spdlog"]
	path = Aura/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Aura/vender/GLFW"]
	path = Aura/vender/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Aura/vendor/GLFW"]
	path = Aura/vendor/GLFW
	url = git@github.com:TheCherno/glfw
[submodule "Aura/vendor/imgui"]
	path = Aura/vendor/imgui
	url = git@github.com:TheCherno/imgui.git
[submodule "Aura/vendor/glm"]
	path = Aura/vendor/glm
	url = git@github.com:g-truc/glm.git
